html, body {
	min-height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}


:root{
	--primary-color-100 : #e0edc5;
	--primary-color-200 : #b0bea9;
	--primary-color-300 : #92aa83;
	--secondary-color-100: #E7F59E;
	--neutral-color-100 : #F1F7EE;

}

body{
	background-color: var(--neutral-color-100);
}
